---
layout: default
title: Try Akka
---

{% include headertop.html %}
{% include headerbottom.html %}

{% include topbar.html %}
<section id="stickySearch" class="wrapper tryAkkaHero">
  <div class="row">
    <h1>Try Akka {{ page.current_akka_version }} today</h1>
    <div class="headerContainer"></div>
  </div>
</section>

<section class="wrapper tryAkkaContent">
  <div class="row">
    <h2>It's quick and easy to get started with Akka</h2>

    <p>
      Akka provides APIs for Java and Scala. Both support the full range of Akka features to provide a great
      development experience building concurrent and distributed systems.
    </p>
    <p>
      Lightbend Tech Hub generates a variety of zipped examples that you can build and run with Maven or SBT.
      Start with the Hello Akka example project to get acquainted with Akka basics.
    </p>
  </div>

  <div class="row">
    <div class="twelvecol tryAkkaBtns">
      <h2>Choose your language</h2>
      <a class="btn scala" href="http://developer.lightbend.com/guides/akka-quickstart-scala">Scala</a>
      <a class="btn java" href="http://developer.lightbend.com/guides/akka-quickstart-java">Java</a>
    </div>
  </div>
</section>

{% include footermenu.html %}
{% include footer.html %}