---
layout: default
title: Try Akka
---

{% include headertop.html %}
{% include headerbottom.html %}

{% include topbar.html %}
<section id="stickySearch" class="wrapper tryAkkaHero">
  <div class="row">
    <h1>Try akka {{ page.current_akka_version }} today</h1>
    <div class="headerContainer"></div>
  </div>
</section>

<section class="wrapper tryAkkaContent">
  <div class="row">
    <h2>It's quick and easy to get started with Akka</h2>

    <p>
      <a href="http://developer.lightbend.com/start/">The Lightbend Tech hub</a> helps you get started by providing
      generated Maven or SBT Akka quickstart projects that should get you up and running with an Akka project in
      no time!
    </p>

    <p>
      Akka provides APIs for Java and Scala. Both support the full range of Akka features to provide a great
      development experience building concurrent and distributed systems.
    </p>
  </div>

  <div class="row">
    <div class="twelvecol tryAkkaBtns">
      <h2>Choose your language</h2>
      <a class="btn akkaLogoBtn" href="http://dev.lightbend.com/start/?group=akka&project=akka-java-seed">Java</a>
      <a class="btn akkaLogoBtn" href="http://dev.lightbend.com/start/?group=akka&project=akka-scala-seed">Scala</a>
    </div>
  </div>
</section>

{% include footermenu.html %}
{% include footer.html %}