RewriteEngine On

# This makes:
# https://akka.io/blog/news/2020/02/27/testing-actors-video.html
# Also available via:
# https://akka.io/blog/news/2020/02/27/testing-actors-video
# Which is questionable from a SEO/duplicate-content perspective
# but it's what GitHub Pages did so let's be faithful to that
# for now.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$      $1.html [END]

Redirect 301 /downloads             https://akka.io/try-akka/
Redirect 301 /news/all-news.html    https://akka.io/blog/news-archive.html
Redirect 301 /releases/             https://akka.io/blog/tags.html#releases-ref
Redirect 301 /news                  https://akka.io/blog/
Redirect 301 /blog/news             https://akka.io/blog/
Redirect 301 /presentations-blogs   https://akka.io/blog/external-archive.html
