---
layout: default
title: Akka&#58; build concurrent, distributed, and resilient message-driven applications for Java and Scala
description: Build powerful reactive, concurrent, and distributed applications in Java and Scala
---

{% include headertop.html %}
{% include headerbottom.html %}

{% include topbar.html %}

<section class="wrapper hero">
    <div class="row">
        <div class="sixcol">
            <h1 class="bright">Build powerful reactive, concurrent, and distributed applications more easily</h1>
            <p class="heroParagraph">Akka is a toolkit for building highly concurrent, distributed, and resilient message-driven applications for Java and Scala</p>
            <a href="#akkaInfo" class="btn sec mini-toggler">Why Akka?</a>

            {% comment %} 
                Note that if you change this there is a duplicate list you need to change below, this is mobile only, below is desktop only
            {% endcomment %}
            <ul id="akkaInfo" class="heroInfo hidden">
               <li>
                    <img src="{{ site.baseurl }}/resources/images/cluster.svg" alt="cluster">
                    <span>
                        <h2>Simpler Concurrent &amp; Distributed Systems</h2>
                        <p>
                            <a href="https://doc.akka.io/docs/akka/current/scala/guide/actors-intro.html">Actors</a> and
                            <a href="https://doc.akka.io/docs/akka/current/scala/stream/stream-introduction.html">Streams</a> let you build
                            systems that scale <i>up</i>, using the resources of a server more efficiently, and scale <i>out</i>, using multiple servers.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/shield.svg" alt="resilience">
                    <span>
                        <h2>Resilient by Design</h2>
                        <p>
                            Building on the principles of <a href="http://www.reactivemanifesto.org">The Reactive Manifesto</a> 
                            Akka allows you to write systems that self-heal and stay responsive in the face of failures.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/speed.svg" alt="speed">
                    <span>
                        <h2>High Performance</h2>
                        <p>Up to 50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
                    </span>
                </li>
                
                
                <li>
                    <img src="{{ site.baseurl }}/resources/images/cloud.svg" alt="cloud">
                    <span>
                        <h2>Elastic &amp; Decentralized</h2>
                        <p>
                            Distributed systems without single points of failure. <a href="https://doc.akka.io/docs/akka/current/scala/cluster-metrics.html#adaptive-load-balancing">Load balancing and adaptive routing across nodes</a>.
                            <a href="https://doc.akka.io/docs/akka/current/scala/persistence.html">Event Sourcing and CQRS</a> with
                            <a href="https://doc.akka.io/docs/akka/current/scala/guide/modules.html#cluster-sharding">Cluster Sharding</a>.
                            <a href="https://doc.akka.io/docs/akka/current/scala/distributed-data.html">Distributed Data</a> for
                            eventual consistency using <abbr title="Conflict-Free Replicated Datatypes">CRDTs</abbr>.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/extend.svg" alt="streams">
                    <span>
                        <h2>Reactive Streaming Data</h2>
                        <p>
                            Asynchronous non-blocking stream processing with backpressure.
                            Fully async and streaming <a href="https://doc.akka.io/docs/akka-http/current/scala/http/introduction.html">HTTP server and client</a>
                            provides a great platform for building microservices.
                            Streaming integrations with <a href="https://doc.akka.io/docs/alpakka/">Alpakka</a>.
                        </p>
                    </span>
                </li>
            </ul>
            <a href="{{ site.baseurl }}/try-akka/" class="btn">Try Akka</a>
            
            <p class="heroSmall">
                Akka is <i>the</i> implementation of the <a href="https://doc.akka.io/docs/akka/current/guide/actors-motivation.html">Actor Model</a> on the JVM.
            </p>
        </div>
        <div class="sixcol">
            <ul class="heroInfo desktop-only">
                <li>
                    <img src="{{ site.baseurl }}/resources/images/cluster.svg" alt="cluster">
                    <span>
                        <h2>Simpler Concurrent &amp; Distributed Systems</h2>
                        <p>
                            <a href="https://doc.akka.io/docs/akka/current/scala/guide/actors-intro.html">Actors</a> and
                            <a href="https://doc.akka.io/docs/akka/current/scala/stream/stream-introduction.html">Streams</a> let you build
                            systems that scale <i>up</i>, using the resources of a server more efficiently, and <i>out</i>, using multiple servers.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/shield.svg" alt="resilience">
                    <span>
                        <h2>Resilient by Design</h2>
                        <p>
                            Building on the principles of <a href="http://www.reactivemanifesto.org">The Reactive Manifesto</a>
                            Akka allows you to write systems that self-heal and stay responsive in the face of failures.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/speed.svg" alt="speed">
                    <span>
                        <h2>High Performance</h2>
                        <p>Up to 50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
                    </span>
                </li>


                <li>
                    <img src="{{ site.baseurl }}/resources/images/cloud.svg" alt="cloud">
                    <span>
                        <h2>Elastic &amp; Decentralized</h2>
                        <p>
                            Distributed systems without single points of failure. <a href="https://doc.akka.io/docs/akka/current/scala/cluster-metrics.html#adaptive-load-balancing">Load balancing and adaptive routing across nodes</a>.
                            <a href="https://doc.akka.io/docs/akka/current/scala/persistence.html">Event Sourcing and CQRS</a> with
                            <a href="https://doc.akka.io/docs/akka/current/scala/guide/modules.html#cluster-sharding">Cluster Sharding</a>.
                            <a href="https://doc.akka.io/docs/akka/current/scala/distributed-data.html">Distributed Data</a> for
                            eventual consistency using <abbr title="Conflict-Free Replicated Datatypes">CRDTs</abbr>.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/extend.svg" alt="streams">
                    <span>
                        <h2>Reactive Streaming Data</h2>
                        <p>
                            Asynchronous non-blocking stream processing with backpressure.
                            Fully async and streaming <a href="https://doc.akka.io/docs/akka-http/current/scala/http/introduction.html">HTTP server and client</a>
                            provides a great platform for building microservices.
                            Streaming integrations with <a href="https://doc.akka.io/docs/alpakka/current/">Alpakka</a>.
                        </p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="wrapper prodUsers">
    <div class="row">
        <h1>Proven in production</h1>
        <p>
            Organizations with extreme requirements rely on Akka and other Lightbend technologies. Read about their experiences in
            our <a href="https://www.lightbend.com/case-studies">case studies</a> and learn more about how Lightbend can contribute to success with its
            <a href="https://www.lightbend.com/platform/production">commercial offerings</a>.
        </p>

        <!-- image map like solution that is responsive -->
        {% assign hover_font_size = 25 %}
        <figure height="400">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2400 400" preserveAspectRatio="xMinYMin meet" >
                <image width="2400" height="400" xlink:href="{{ site.baseurl }}/resources/images/logo-cloud.png"></image>
                <!-- iHeart -->
                <g class="hover_group" opacity="0">
                    <a xlink:href="http://www.lightbend.com/case-studies/reactive-drives-innovation-in-streaming-music-industry">
                        <text x="200" y="230">Go to case study</text>
                        <rect x="1" y="1" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Credit Karma -->
                <g class="hover_group" opacity="0">
                    <a xlink:href="http://www.lightbend.com/case-studies/credit-karma-disrupts-credit-reporting-with-reactive-systems-and-fast-data">
                        <text x="1000" y="180">Go to case study</text>
                        <rect x="800" y="1" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Intel -->
                <g class="hover_group" opacity="0">
                    <!-- Credit Karma -->
                    <a xlink:href="http://www.lightbend.com/case-studies/intels-gearpump-real-time-streaming-engine-using-akka">
                        <text x="1400" y="230">Go to case study</text>
                        <rect x="1200" y="1" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Hootsuite -->
                <g class="hover_group" opacity="0">
                    <!-- Credit Karma -->
                    <a xlink:href="http://www.lightbend.com/case-studies/how-hootsuite-modernized-its-url-shortener">
                        <text x="1800" y="180">Go to case study</text>
                        <rect x="1600" y="1" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Norwegian Cruise Line -->
                <g class="hover_group" opacity="0">
                    <!-- Credit Karma -->
                    <a xlink:href="http://www.lightbend.com/case-studies/norwegian-cruises-to-record-profits-with-reactive">
                        <text x="2200" y="210">Go to case study</text>
                        <rect x="2000" y="1" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Walmart -->
                <g class="hover_group" opacity="0">
                    <!-- Credit Karma -->
                    <a xlink:href="http://www.lightbend.com/case-studies/walmart-boosts-conversions-by-20-with-lightbend-reactive-platform">
                        <text x="600" y="380">Go to case study</text>
                        <rect x="400" y="200" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Zalando -->
                <g class="hover_group" opacity="0">
                    <!-- Credit Karma -->
                    <a xlink:href="http://www.lightbend.com/case-studies/zalando-meets-100x-traffic-spikes-with-a-smile-using-reactive-platform">
                        <text x="1800" y="380">Go to case study</text>
                        <rect x="1600" y="200" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
                <!-- Weightwatchers -->
                <g class="hover_group" opacity="0">
                    <!-- Credit Karma -->
                    <a xlink:href="http://www.lightbend.com/case-studies/weight-watchers-accelerates-digital-transformation-with-lightbend">
                        <text x="2200" y="380">Go to case study</text>
                        <rect x="2000" y="200" opacity="0.2" fill="#FFFFFF" width="400" height="200"></rect>
                    </a>
                </g>
            </svg>
        </figure>

    </div>
</section>

<section class="wrapper indexLatest">
    <div class="row">
        <h1>Latest News</h1>
        <p>See our <a href="{{ site.baseurl }}/blog">news and articles</a> for more good reads</p>
        <ul class="newsContainer">
            {% include news-feed.html %}
        </ul>
    </div>
</section>

{% include footermenu.html %}
{% include footer.html %}
