.hero {
	@include hero;
	@include single-column {
		padding-top: 55px;
	}
	h1 {
		margin: 0;
		a {
			color: inherit;
			font-size: inherit;
		}
	}
	.heroParagraph {
		margin: 50px 0;
		color: #fff;
	}
	.btn.sec {
		display: none;
  	@include single-column {
    	display: block;
  	}
	}
	.heroSmall {
		@include x-rem(font-size, 1.4);
		margin-top: 30px;
		color: #fff;
		a {
			color: inherit;
			font-size: inherit;
			font-weight: normal;
		}
	}
	.heroInfo {
		margin-left: 10%;
		margin-bottom: 60px;
		@include single-column {
			margin: 40px 0;
		}
		a {
			color: inherit;
			font-size: inherit;
			font-weight: normal;
			border-bottom-color: #ddd;
		}
		li {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 30px;
			img {
				height: 25px;
				width: 25px;
				margin-right: 20px;
			}
			span {
				h2 {
					color: #fff;
					@include x-rem(font-size, 1.8);
				}
				p {
					@include x-rem(font-size, 1.4);
					color: #fff;
					margin: 0;
				}
			}
		}
	}
}

.prodUsers {
	margin: 60px 0;
	text-align: center;
	p {
		color: $pri_text;
	}
	.hover_group:hover {
		opacity:1;
	}
	figure {
		position: relative;
		width: 100%;
		padding-bottom: 18%;
		vertical-align: middle;
		margin: 0;
		overflow: hidden;
		max-height: 400px;
		font-size: 30pt;
		svg {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			text {
				font-size: 32px;
				text-anchor: middle;
				fill: #ffa94b;
				text-decoration: underline;
			}
		}
	}

}


.indexLatest {
	margin: 60px 0 0 0;
	text-align: center;
	.newsContainer li {
		width: 80%;
		@include single-column {
			width: 100%;
		}
	}
}