.profile-name {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #447281;
}

.profile-pic {
  // because viktor having a 400px profile pic...
  max-width: 80px;
  max-height: 80px;
}


.profile-title {
  display: block;
  margin-top:-0.8em;
  color: #447281;
  font-size: 90%;
}