footer {
	margin-top: 60px;
	padding: 0 20px;
	clear: both;
	@include single-column {
	  padding-left: 2.6595744680851064%;
	  padding-right: 2.6595744680851064%;
	}
	background-color: $pri_midblue;
	background-size: cover;
	background-position: 0;
	background-image: url(../images/bg_footer.jpg);
	background-repeat: no-repeat;
	.footerLinks {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		margin: 30px 0;
		ul {
			margin-right: 40px;
			h2 {
				@include x-rem(font-size, 1.4);
				color: #fff;
			}
			li {
				a {
					@include x-rem(font-size, 1.4);
				}
			}
		}
	}
	.legal {
		@include x-rem(font-size, 1.2);
		margin-bottom: 25px;
		color: #fff;
		a {
			color: #fff;
			@include x-rem(font-size, 1.2);
			cursor: pointer
		}
	}
	.footerLogo {
		height: 160px;
		margin-top: 5%;
		float: right;
	}
}

footer.errorPage {
	margin-top: 300px;
}