<div class="download-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="box">Download Akka</div>
            </div>
        </div>
    </div>
</div>
<div class="activator-strip under-main">
    <div class="container rel">
        <div class="row rel">
            <div class="span6">
                <h1>Typesafe Activator</h1>
            </div>
            <div class="span6">
                <h1>Standalone</h1>
            </div>
        </div>
    </div>
</div>

<div class="light-strip" style="padding: 10px 0;">
    <div class="container rel">
        <div class="row rel">
            <div class="span6">
                <div class="latest">
                    <h2>Latest official version <small>Sep 20 2013</small></h2>
                    <table>
                        <tr>
                            <td>
                                <a href="http://downloads.typesafe.com/typesafe-activator/1.0.0/typesafe-activator-1.0.0.zip" class="downloadActivatorLink">Activator 1.0.0 with Akka 2.3.0</a>
                            </td>
                            <td>
                                252.3M
                            </td>
                        </tr>
                    </table>
                </div>

                <h2>What is Typesafe Activator?</h2>
                <p>
                    Typesafe Activator gets you started with the Typesafe Reactive Platform, including Akka, Play Framework and Scala.
                    It is a hub for developers that want to build reactive applications, providing an in browser environment for creating new applications.
                </p>


                <h2>The fastest way to get started with Akka</h2>
                <p>
                    Getting started is a snap, after downloading, extracting and running activator, the wizard-based interface guides you to select a template to start from.
                    Each template includes an in context tutorial, showing an overview of the code, as well as common patterns to writing reactive applications.
                </p>

                <hr/>
                <h3>Popular templates with tutorials:</h3>
                <ul>
                    <li><a href="http://typesafe.com/activator/template/hello-akka">Hello Akka Framework!</a></li>
                    <li><a href="http://typesafe.com/activator/template/play-guice">Play with Guice</a></li>
                    <li><a href="http://typesafe.com/activator/template/play-mongo-knockout">Play Reactive Mongo with KnockoutJS frontend</a></li>
                </ul>
                <a class="button" href="http://typesafe.com/activator/templates">Browse all templates</a>

                <hr/>
                <h2>Run Typesafe Activator</h2>

                <video src="http://downloads.typesafe.com/videos/activator-intro.mp4" width="400" height="225" poster="/assets/images/download/activator-app.png"></video>

                <h3>Download Typesafe Activator, and unzip the file</h3>
                <p>Download <a href="http://downloads.typesafe.com/typesafe-activator/1.0.0/typesafe-activator-1.0.0.zip">Activator 1.0.0</a> (252.3M)</p>
                <p>Extract the downloaded zip file to your system.</p>
                <h3>Start Typesafe Activator's UI</h3>
                
                        <p>In Finder, navigate to the directory that Typesafe Activator was extracted to, right-click on the file named "activator", then select "Open", and if prompted with a warning, click to continue.</p>
                    
                <p>Or from a command line:</p>
                <pre><code> $ activator-1.0.0/activator ui </code></pre>
                This will start Typesafe Activator and open your browser to the Activator UI.
                <h2>Create a new application</h2>
                <p>Choose one of the <a href="http://typesafe.com/activator/templates">templates</a>.</p>
                <p>Once the application is created you can explore the code, run the tests, and run the application.  Each template includes a tutorial that will walk you through the individual pieces of the application and how it works.</p>
            </div>
            <div class="span6">

                <div class="latest">
                    <h2>Latest official version <small>Sep 20 2013</small></h2>
                    <table>
                        <tr>
                            <td>
                                <a href="http://downloads.typesafe.com/akka/2.3.0/akka-2.3.0.zip" class="downloadStandaloneLink" data-version="2.3.0">Akka 2.3.0 standalone</a>
                            </td>
                            <td>
                                1000M
                            </td>
                        </tr>
                    </table>
                </div>
                <hr/>
                <h2>What's next?</h2>

                

<h3>Documentation</h3>
<ul>
    <li><a href="/documentation/2.1.2/Installing">todo Installation instructions</a></li>
    <li><a href="/documentation/2.1.2/NewApplication">todo Build your first app</a></li>
    <li><a href="/documentation">todo Full documentation</a></li>
    <li><a href="/changelog">todo Change log</a></li>
    <li><a href="/security/vulnerability">todo Security advisories</a></li>
</ul>
<h3>Find help</h3>
<ul>
    <li><a href="http://groups.google.com/forum/#!forum/play-framework">todo Mailing list</a></li>
    <li><a href="http://stackoverflow.com/questions/tagged/akka">Stackoverflow</a></li>
    <li><a href="http://typesafe.com/how">Professional support</a></li>
</ul>
<h3>Contribute</h3>
<ul>
    <li><a href="/code">todo Code and contributors</a></li>
    <li><a href="/get-involved">todo Get involved</a></li>
    <li><a href="/security/vulnerability">todo Reporting security vulnerabilities</a></li>
</ul>

                <hr/>
                <h3>Other downloads</h3>
                <ul>
                    <li><a href="/documentation/latest/NewApplication">todo Akka as a standard dependency</a></li>
                    <li><a href="/documentation/latest/BuildingFromSource">todo Build from the source</a></li>
                </ul>

                

                <hr/>
                <h3>Previous versions</h3>
                <p>
                    Looking for older versions of Akka? You can find some of our older releases below.
                </p>

                <table class="previous-verions">
                        <tr>
                            <td width="250">
                                <a href="http://downloads.typesafe.com/play/2.1.5/play-2.1.5.zip" class="downloadPreviousLink" data-version="2.1.5">play-2.1.5.zip</a>
                            </td>
                            <td width="200">
                            Sep 20 2013
                            </td>
                            <td width="100">
                            145.2M
                            </td>
                        </tr>
                </table>
                <span class="button showAllDownloads">Show all versions</span>
            </div>
        </div>
    </div>
</div>
