<script type="text/javascript">
// doing it this way because jquery is loaded at the bottom of the page
$(document).ready(function () {
  $.getJSON("https://activator-prod.herokuapp.com/latest?callback=?", function(data) {
    // update the page with the latest values
    if (data.version != undefined) {
      var activatorLink = $("#activator-link")
      activatorLink.prop("href", "http://downloads.typesafe.com/typesafe-activator/" + data.version + "/typesafe-activator-" + data.version + ".zip")
      activatorLink.text(activatorLink.text().replace("1.2.7", data.version));
    }
    if (data.size != undefined) {
      $("#activator-size").text(data.size)
    }
  })
});
</script>

<div class="main">
    <div class="container">

                <div class="page-title">Download Akka</div>

    </div>
</div>
<div class="activator-strip under-main">
    <div class="container rel">
        <div class="row rel">
            <div class="span6">
                <h1>Lightbend Activator</h1>
            </div>
            <div class="span6">
                <h1>Standalone Distribution</h1>
            </div>
        </div>
    </div>
</div>

<div class="light-strip" style="padding: 10px 0;">
    <div class="container rel">
        <div class="row rel">
            <div class="span6">
                <div class="latest">
                    <h2>Latest official version <small>(open source)</small></h2>
                    <table>
                        <tr>
                            <td>
                                <a id="activator-link" href="http://downloads.typesafe.com/typesafe-activator/1.2.7/typesafe-activator-1.2.7.zip" class="downloadActivatorLink">Activator 1.2.7</a>
                            </td>
                            <td id="activator-size">
                                229MB
                            </td>
                        </tr>
                    </table>
                </div>
                <hr/>

                <h2>What is Lightbend Activator?</h2>
                <p>
                    Lightbend Activator gets you started with the Lightbend Reactive Platform, including Akka, Play Framework and Scala.
                    It is a hub for developers that want to build reactive applications, providing an in browser environment for creating new applications.
                </p>

                <p>
                  Getting started is a snap, please refer to the <a href="https://www.lightbend.com/activator/download">Getting Started</a> page, including an introduction video.
                </p>

                <hr/>
                <h3>Popular templates with tutorials:</h3>
                <ul>
                    <li><a href="http://typesafe.com/activator/template/hello-akka">Hello Akka!</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-supervision-java-lambda">Akka Supervision in Java with Lambdas</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-supervision">Akka Supervision in Scala</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-clustering">Akka Clustered PubSub with Scala</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-distributed-workers">Distributed Workers with Akka and Scala</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-distributed-workers-java">Distributed Workers with Akka and Java</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-cluster-sharding-scala">Akka Cluster Sharding with Scala</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-java-spring">Akka Java Spring</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-scala-spring">Akka Scala Spring</a></li>
                    <li><a href="http://typesafe.com/activator/template/activator-akka-spray">Akka with Spray</a></li>
                    <li><a href="http://typesafe.com/activator/template/reactive-stocks">Reactive Stocks</a></li>
                    <li><a href="https://typesafe.com/activator/template/reactive-maps">Reactive Maps</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-camel-java">Akka Camel Samples with Java</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-camel-scala">Akka Camel Samples with Scala</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-cluster-java">Akka Cluster Samples with Java</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-cluster-scala">Akka Cluster Samples with Scala</a></li>
                    <li><a href="http://typesafe.com/activator/template/akka-sample-fsm-java-lambda">Akka FSM in Java with Lambdas</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-fsm-scala">Akka FSM in Scala</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-main-java">Akka Main in Java</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-main-scala">Akka Main in Scala</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-multi-node-scala">Akka Multi-Node Testing Sample with Scala</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-persistence-java">Akka Persistence Samples with Java</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-persistence-java-lambda">Akka Persistence Samples in Java with Lambdas</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-persistence-scala">Akka Persistence Samples with Scala</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-remote-java">Akka Remote Samples with Java</a></li>
                    <li><a href="https://typesafe.com/activator/template/akka-sample-remote-scala">Akka Remote Samples with Scala</a></li>
                    <li><a href="https://www.typesafe.com/activator/template/akka-sample-distributed-data-java">Akka Distributed Data Samples with Java</a></li>
                    <li><a href="https://www.typesafe.com/activator/template/akka-sample-distributed-data-scala">Akka Distributed Data Samples with Scala</a></li>

                </ul>
                <a class="button" href="http://typesafe.com/activator/templates">Browse all templates</a>

            </div>
            <div class="span6">

                <div class="latest">
                    <h2>Latest official version <small>June 3, 2016</small></h2>
                    <table>
                        <tr>
                            <td>
                                <a href="http://downloads.typesafe.com/akka/akka_2.11-2.4.8.zip" class="downloadStandaloneLink" data-version="2.4.8">Akka 2.4.8 (Scala 2.11 and Java 8+)</a>
                            </td>
                            <td>
                                120MB
                            </td>
                        </tr>
                    </table>
                </div>
                <hr/>

                <h2>Previous versions</h2>
                <p>
                    Looking for older versions of Akka? You can find some of our older releases below.
                </p>

                <table class="previous-verions">
                        <tr>
                            <td width="350">
                                <a href="http://downloads.typesafe.com/akka/akka_2.10-2.3.15.zip" class="downloadStandaloneLink" data-version="2.3.15">Akka 2.3.15.zip</a> (Scala 2.10 and Java 6+)
                            </td>
                            <td width="150">
                            Sep 16, 2015
                            </td>
                            <td width="150">
                            58MB
                            </td>
                        </tr>
                        <tr>
                            <td width="350">
                                <a href="http://downloads.typesafe.com/akka/akka_2.11-2.3.15.zip" class="downloadStandaloneLink" data-version="2.3.15">Akka 2.3.15.zip</a> (Scala 2.11 and Java 6+)
                            </td>
                            <td width="150">
                            Sep 16, 2015
                            </td>
                            <td width="150">
                            58MB
                            </td>
                        </tr>
                        <tr>
                            <td width="350">
                                <a href="http://downloads.typesafe.com/akka/akka-2.2.5.zip" class="downloadStandaloneLink" data-version="2.2.5">Akka 2.2.5.zip</a> (Scala 2.10 and Java 6+)
                            </td>
                            <td width="150">
                            Mar 4, 2014
                            </td>
                            <td width="150">
                            41MB
                            </td>
                        </tr>
                        <tr>
                            <td width="350">
                                <a href="http://downloads.typesafe.com/akka/akka-2.1.4.zip" class="downloadPreviousLink" data-version="2.1.4">akka-2.1.4.zip</a> (Scala 2.10  and Java 6+)
                            </td>
                            <td width="150">
                            May 14, 2013
                            </td>
                            <td width="150">
                            29MB
                            </td>
                        </tr>
                        <tr>
                            <td width="350">
                                <a href="http://downloads.typesafe.com/akka/akka-2.0.5.zip" class="downloadPreviousLink" data-version="2.0.5">akka-2.0.5.zip</a> (Scala 2.9.2 and Java 6+)
                            </td>
                            <td width="150">
                            Jan 2, 2013
                            </td>
                            <td width="150">
                            31MB
                            </td>
                        </tr>
                </table>
                <p>
                For older versions of Akka see the <a href="http://downloads.typesafe.com/downloads/archive/index.html">archived downloads</a>.
                </p>

                <h2>Whereto Next?</h2>
                <p>
                We recommend that after getting your feet wet with Activator you start reading the <a href="http://doc.akka.io/docs/akka/current/general/index.html">general section</a> of the documentation.
                </p>
            </div>
        </div>
    </div>
</div>
