  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/resources/javascript/fastclick.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/resources/javascript/mini-toggler.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/resources/javascript/stickySearch.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/resources/javascript/tabPanel.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/resources/javascript/fastclick.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/resources/javascript/mini-toggler.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/resources/javascript/stickySearch.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/resources/javascript/tabPanel.js" type="text/javascript"></script>
  <!-- highlight js -->
  <link href="{{ site.baseurl }}/resources/stylesheets/styles/github.css" type="text/css" rel="stylesheet" />
  <script src="{{ site.baseurl }}/resources/javascript/highlight.pack.js" type="text/javascript"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
