  <!-- javascript -->
  <script src="{{ site.baseurl }}/resources/javascript/jquery.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/prettify.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/slideleft.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.rss.min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/blogfeed.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/moment.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/dateparse.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.scrollTo-1.4.2-min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.localscroll-1.2.7-min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.serialScroll-1.2.2-min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/sliderbox.js" type="text/javascript" ></script>
  <a class="reactive-ribbon" href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="http://www.reactivemanifesto.org/images/ribbons/we-are-reactive-black-right.png"> </a>

  <script type="text/javascript">
     var akkaVersion = "2.4.16";
     var akkaHttpVersion = "10.0.1";

     var makeModuleDescription = function(version) {
       return function(artifactId) {
         return {
           groupId: "com.typesafe.akka",
           artifactId: artifactId,
           scalaVersions: ["2.11", "2.12"],
           version: version
         }
       }
     };

     var akkaLatestProjects = [
       "akka-actor",
       "akka-agent",
       "akka-camel",
       "akka-cluster",
       "akka-cluster-metrics",
       "akka-cluster-sharding",
       "akka-cluster-tools",
       "akka-contrib",

       "akka-multi-node-testkit",
       "akka-osgi",
       "akka-persistence",
       "akka-persistence-tck",
       "akka-remote",
       "akka-slf4j",
       "akka-stream",
       "akka-stream-testkit",
       "akka-testkit",

       // -- experimental modules --
       "akka-distributed-data-experimental",
       "akka-typed-experimental",
       "akka-persistence-query-experimental"
     ].map(makeModuleDescription(akkaVersion));


     var akkaHttpLatestProjects = [
       "akka-http-core",
       "akka-http",
       "akka-http-testkit",
       "akka-http-spray-json",
       "akka-http-jackson",
       "akka-http-xml"
     ].map(makeModuleDescription(akkaHttpVersion));

      function sbtDependency(artifact) {
          return '"' + artifact.groupId + '" %% "' + artifact.artifactId + '" % "' + artifact.version + '"\n';
      }
      function gradleDependency(artifact) {
          return "compile '" + artifact.groupId + ":" + artifact.artifactId + "_" + artifact.scalaVersions[0] + ":" + artifact.version + "'\n";
      }
      function mavenDependency(artifact) {
          return '\n' +
                  '<dependency>\n' +
                  '  <groupId>' + artifact.groupId + '</groupId>\n' +
                  '  <artifactId>' + artifact.artifactId + '_' + artifact.scalaVersions[0] + '</artifactId>\n' +
                  '  <version>' + artifact.version + '</version>\n' +
                  '</dependency>\n';
      }

      function makeDependencies(projects, idPrefix) {
          var sbtDeps = '',
              gradleDeps = '',
              mavenDeps = '';

          projects.forEach(function(project) {
              sbtDeps += sbtDependency(project)
              gradleDeps += gradleDependency(project)
              mavenDeps += mavenDependency(project)
          })
          $("#" + idPrefix + "-dependencies-sbt").text(sbtDeps);
          $("#" + idPrefix + "-dependencies-gradle").text(gradleDeps);
          $("#" + idPrefix + "-dependencies-maven").text(mavenDeps);
      }
      makeDependencies(akkaLatestProjects, "stable")
      makeDependencies(akkaHttpLatestProjects, "http")

      $('ul.tabs li').click(function () {
          $el = $(this)
          var tabId = $el.attr('data-tab')
          $container = $el.closest('.container')

          $container.find('ul.tabs li').removeClass('current')
          $container.find('.tab-content').removeClass('current')

          $el.addClass('current')
          $container.children("#" + tabId).addClass('current')
      })

      if ($('#search-ref-docs').length > 0) {
        $("#docs-language").change(function(el) {
          $("#search-ref-docs li.lang").addClass("hidden");
          $("#search-ref-docs li#" + el.currentTarget.value.toLowerCase()).removeClass("hidden");
        });

        docsearch({
          apiKey: '543bad5ad786495d9ccd445ed34ed082',
          indexName: 'akka_io',
          inputSelector: '#search-scala',
          algoliaOptions: {
            hitsPerPage: 5,
            facetFilters: '[' + '["language:scala","language:general"]' + ',"version:' + akkaVersion + '"]'
          }
        });

        docsearch({
          apiKey: '543bad5ad786495d9ccd445ed34ed082',
          indexName: 'akka_io',
          inputSelector: '#search-java',
          algoliaOptions: {
            hitsPerPage: 5,
            facetFilters: '[' + '["language:java","language:general"]' + ',"version:' + akkaVersion + '"]'
          }
        });
      }
  </script>
  </body>
</html>
