  <!-- javascript -->
  <script src="{{ site.baseurl }}/resources/javascript/jquery.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/prettify.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/slideleft.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.rss.min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/blogfeed.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/moment.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/dateparse.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.scrollTo-1.4.2-min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.localscroll-1.2.7-min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/jquery.serialScroll-1.2.2-min.js" type="text/javascript" ></script>
  <script src="{{ site.baseurl }}/resources/javascript/sliderbox.js" type="text/javascript" ></script>
  <a class="reactive-ribbon" href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="http://www.reactivemanifesto.org/images/ribbons/we-are-reactive-black-right.png"> </a>

  <script type="text/javascript">
     var akkaVersion = "2.4.8"

      var akkaLatestProjects = [
          { groupId: "com.typesafe.akka", artifactId: "akka-actor"              , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-agent"              , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-camel"              , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-cluster"            , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-cluster-metrics"    , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-cluster-sharding"   , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-cluster-tools"      , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-contrib"            , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-http-core"          , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-http-testkit"       , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-multi-node-testkit" , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-osgi"               , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-persistence"        , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-persistence-tck"    , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-remote"             , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-slf4j"              , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-stream"             , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-stream-testkit"     , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-testkit"            , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          // -- experimental modules --
          { groupId: "com.typesafe.akka", artifactId: "akka-distributed-data-experimental"  , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-typed-experimental"             , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-http-experimental"              , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-http-jackson-experimental"      , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-http-spray-json-experimental"   , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-http-xml-experimental"          , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion },
          { groupId: "com.typesafe.akka", artifactId: "akka-persistence-query-experimental" , scalaVersions: ["2.11", "2.12.0-M4"], version: akkaVersion }

      ];

      function sbtDependency(artifact) {
          return '"' + artifact.groupId + '" %% "' + artifact.artifactId + '" % "' + artifact.version + '"\n';
      }
      function gradleDependency(artifact) {
          return "compile '" + artifact.groupId + ":" + artifact.artifactId + "_" + artifact.scalaVersions[0] + ":" + artifact.version + "'\n";
      }
      function mavenDependency(artifact) {
          return '\n' +
                  '<dependency>\n' +
                  '  <groupId>' + artifact.groupId + '</groupId>\n' +
                  '  <artifactId>' + artifact.artifactId + '_' + artifact.scalaVersions[0] + '</artifactId>\n' +
                  '  <version>' + artifact.version + '</version>\n' +
                  '</dependency>\n';
      }

      function makeDependencies() {
          var sbtDeps = '';
          var gradleDeps = '';
          var mavenDeps = '';
          for (var idx in akkaLatestProjects) {
              var project = akkaLatestProjects[idx];

              sbtDeps += sbtDependency(project);
              gradleDeps += gradleDependency(project);
              mavenDeps += mavenDependency(project);
          }
          $("#stable-dependencies-sbt").text(sbtDeps);
          $("#stable-dependencies-gradle").text(gradleDeps);
          $("#stable-dependencies-maven").text(mavenDeps);
      }
      makeDependencies();

      $('ul.tabs li').click(function () {
          var tab_id = $(this).attr('data-tab');
          $('ul.tabs li').removeClass('current');
          $('.tab-content').removeClass('current');

          $(this).addClass('current');
          $("#" + tab_id).addClass('current');
      });

      if ($('#search-ref-docs').length > 0) {
        $("#docs-language").change(function(el) {
          $("#search-ref-docs li.lang").addClass("hidden");
          $("#search-ref-docs li#" + el.currentTarget.value.toLowerCase()).removeClass("hidden");
        });

        docsearch({
          apiKey: '543bad5ad786495d9ccd445ed34ed082',
          indexName: 'akka_io',
          inputSelector: '#search-scala',
          algoliaOptions: {
            hitsPerPage: 5,
            facetFilters: '[' + '["language:scala","language:general"]' + ',"version:' + akkaVersion + '"]'
          }
        });

        docsearch({
          apiKey: '543bad5ad786495d9ccd445ed34ed082',
          indexName: 'akka_io',
          inputSelector: '#search-java',
          algoliaOptions: {
            hitsPerPage: 5,
            facetFilters: '[' + '["language:java","language:general"]' + ',"version:' + akkaVersion + '"]'
          }
        });
      }
  </script>
  </body>
</html>
