{% include topbar.html %}
{% include reactiveRibbon.html %}

<section class="wrapper hero">
	<div class="row">
		<div class="sixcol">
			<h1 class="bright">Build powerful concurrent & distributed applications more easily.</h1>
			<p class="heroParagraph">Akka is a toolkit and runtime for building highly concurrent, distributed, and resilient message-driven applications on the JVM.</p>
			<a href="#akkaInfo" class="btn sec mini-toggler">Why Akka?</a>
			<ul id="akkaInfo" class="heroInfo hidden">
				<li>
					<img src="{{ site.baseurl }}/resources/images/speed.svg" alt="speed">
					<span>
						<h2>High Performance</h2>
						<p>50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/cluster.svg" alt="speed">
					<span>
						<h2>Simple Concurrency & Distribution</h2>
						<p>Asynchronous and Distributed by Design. High-level abstractions like Actors, Streams and Futures.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/shield.svg" alt="speed">
					<span>
						<h2>Resilient by Design</h2>
						<p>Write systems that self-heal.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/cloud.svg" alt="speed">
					<span>
						<h2>Elastic & Decentralized</h2>
						<p>Adaptive cluster management, load balancing, routing, partitioning and sharding.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/extend.svg" alt="speed">
					<span>
						<h2>Reactive streams</h2>
						<p>Asynchronouos non-blocking stream processing with backpressure.</p>
					</span>
				</li>
			</ul>
			<a href="{{ site.baseurl }}/docs/" class="btn">Documentation and Download</a>
			<p class="heroSmall">The power of Akka is also available on the <a class="bright" href="http://getakka.net">.NET Framework and Mono via the Akka.NET project.</a></p>
		</div>
		<div class="sixcol">
			<ul class="heroInfo desktop-only">
				<li>
					<img src="{{ site.baseurl }}/resources/images/speed.svg" alt="speed">
					<span>
						<h2>High Performance</h2>
						<p>50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/cluster.svg" alt="speed">
					<span>
						<h2>Simple Concurrency & Distribution</h2>
						<p>Asynchronous and Distributed by Design. High-level abstractions like Actors, Streams and Futures.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/shield.svg" alt="speed">
					<span>
						<h2>Resilient by Design</h2>
						<p>Write systems that self-heal.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/cloud.svg" alt="speed">
					<span>
						<h2>Elastic & Decentralized</h2>
						<p>Adaptive cluster management, load balancing, routing, partitioning and sharding.</p>
					</span>
				</li>
				<li>
					<img src="{{ site.baseurl }}/resources/images/extend.svg" alt="speed">
					<span>
						<h2>Reactive streams</h2>
						<p>Asynchronouos non-blocking stream processing with backpressure.</p>
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="wrapper prodUsers">
	<div class="row">
		<h1>Selection of production users</h1>
		<p>A selection of some of our production users, see our <a href="https://www.lightbend.com/services/expert-support">commercial offering</a> for more information</p>
		<img src="{{ site.baseurl }}/resources/images/logo-cloud.png" />
	</div>
</section>

<section class="wrapper indexLatest">
	<div class="row">
		<h1>Latest news</h1>
		<p>See our <a href="http://blog.akka.io/archive">archive</a> for more good reads</p>
		<ul class="newsContainer">
			{% include news-feed.html %}
		</ul>				
	</div>
</section>