<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width" />

    <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="og:description" content="{{ page.short }}" >
    {% if page.image %}
    <meta name="og:image" content="https://akka.io/{{ page.image }}" >
    {% else %}
    <meta name="og:image" content="https://akka.io/resources/images/social.png" >
    {% endif %}
    <meta name="og:url" content="{% if page.canonical_url %}{{ page.canonical_url }}{% else %}https://akka.io{{ page.url }}{% endif %}">

    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{{ page.short }}" >

    {% if page.image %}
    <meta name="twitter:image" content="https://akka.io/{{ page.image }}" >
    {% else %}
    <meta name="twitter:image" content="https://akka.io/resources/images/social.png" >
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" >

    {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}">
    {% endif %}
    <link rel="shortcut icon"  href="{{ site.baseurl }}/resources/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/resources/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/resources/manifest.json">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/resources/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#15a9ce">
    <!-- CSS -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/style.css" type="text/css" />
    <link href="{{ site.baseurl }}/resources/stylesheets/styles/banner.css?v=01" type="text/css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/resources/stylesheets/styles/github.css" type="text/css" rel="stylesheet" />
    <!-- Blog feed -->
    <link rel="alternate" type="application/atom+xml" href="https://akka.io/atom.xml" />
