<div id="stickySearch" class="stickySearchBar">
	<div class="row">
		<div class="headerContainer">
			<div class="headerSearch">
				<ul id="search-ref-docs">
  				<li id="scala" class="lang"><input type="search" id="search-scala" class="search" /></li>
  				<li id="java" class="hidden lang"><input type="search" id="search-java" class="search" /></li>
  				<li><p>in</p></li>
  				<li>
    				<select id="docs-language" class="form-control">
      				<option selected="selected">Scala</option>
      				<option>Java</option>
    				</select>
  				</li>
				</ul>
				<span>Version 2.4.12</span>
			</div>
			<div class="headerButtons">
				<a href="/documentationContents.html" class="bright">Java contents</a>
				<a href="/documentationContents.html" class="bright">Scala contents</a>
			</div>
		</div>
	</div>
</div>