---
---
body { position: relative; }
.navbar { margin-bottom: 18px;}
.navbar-logo { visibility: visible; float: left; }
.main { position: relative; height: auto; margin-top: -18px; overflow: auto; }
.page-title { position: relative; top: 24px; font-family: "Source Sans Pro", "Helvetica Neue", sans-serif; font-size: 24px; font-weight: 400; color: rgba(255, 255, 255, 1);  width: 900px; padding-bottom: 20px; }
.main-container { background: #ffffff;  min-height: 600px; padding-top: 20px; margin-top: 28px; padding-bottom: 40px; }
a { color: #447281; }
a:hover { color: #73a600; text-decoration: none; }
p { padding-top: 4px; font-size: 14px; }
h2 { padding-top: 14px; padding-bottom: 4px; margin-bottom: 10px; border-bottom: solid 1px rgba(0, 0, 0, 0.15); color: #0d2428; }
h2 a { color: #0d2428; }
h2 a:hover { color: #447281; }
h2 .pre { font-size: 20px; }
h3 { padding-top: 10px; color: #2e6d82; }
h3 a {  color: #2e6d82; }
h3 a:hover { }
h3 .pre { font-size: 16px; }
h4 { padding-top: 6px; font-size: 16px; }
h4 a { color: #447281; }
h4 a:hover {  }
h5 { text-transform: uppercase; font-size: 14px; padding-top: 6px; color: #5e5e5e;}
strong {color: #1d3c52; }
.row { margin-bottom: 14px; }
.profile-pic { float: left; padding: 10px; margin: 16px; border: solid 1px #d3e1e4; background: rgba(240, 250, 252, 0.6); height: 80px; width: 80px; }
.profile-pic-wrap { float: left; height: 260px; }
.profile-name { display: block; margin-top: 20px; margin-bottom: 6px; font-size: 18px; font-family: "Source Sans Pro", "Helvetica Neue", sans-serif; font-size: 24px; font-weight: 400; color: #447281; }
.profile-title { display: block; margin-top: 6px; font-size: 16px; font-weight: bold; color: #0d2428; }
.profile-twitter-link { display: block; margin-top: 6px; font-size: 16px; font-weight: bold; }
.profile-text { padding-top: 10px; }
.footer h5 { text-transform: none; }
.committers { font-family: "Source Sans Pro", "Helvetica Neue", sans-serif; font-size: 18px; font-weight: 400; }
.committers ul { list-style-type: none; margin-left: 30px; }
.committers li { margin-bottom: 10px; color: #73a600; }
.committers li:before { content:'\2022'; display: block; position: relative; max-width: 0px; max-height: 0px; left: -20px; top: -0px; color: #0d2428; font-size: 20px; }
.committers a { color: #73a600; }
.committers a:hover { color: #447281; }
.news-story h2 { border: 0; color: #404040; padding-bottom: 0px; }
